{% if udoc.major or udoc.class or (udoc.showRealNameOnProfile and udoc.realName) %}
<li class="section__tab-item um-academic-info">
  <h1 class="section__tab-title">{{ _('Academic Information') }}</h1>
  <div class="section__tab-main">
    <div class="section__body">
      <dl class="large horizontal">
        {% if udoc.showRealNameOnProfile and udoc.realName %}
          <dt>{{ _('Real Name') }}</dt><dd>{{ udoc.realName }}</dd>
        {% endif %}
        <dt>{{ _('Major') }}</dt><dd>{{ udoc.major or _('Not set') }}</dd>
        <dt>{{ _('Class') }}</dt><dd>{{ udoc.class or _('Not set') }}</dd>
      </dl>
    </div>
  </div>
</li>
{% endif %}
